<h1>Meet <%= @kitten.name %>!</h1>

<ul>
  <li><strong>Age: </strong><%= @kitten.age %> years old</li>
  <li><strong>Cuteness:</strong><%= @kitten.cuteness %>/10</li>
  <li><strong>Softness:</strong><%= @kitten.softness%>/10</li>
</ul>

Do you want to delete <%= @kitten.name %>?<br>
<%= link_to 'delete kitten', @kitten, method: :delete, data: { confirm: "Are you sure?"} %>

